<div class="wrapper ">
  <h2>練習用お題の表示ページ</h2> 
</div>
<div class="wrapper traning_text ">
  <h2><%= @traning.theme_text %></h2>
  <h2><%= "確認用 お題ID：#{@traning.id}" %></h2>

<div class="wrapper traning_image ">
  <%# ActiveStrageテーブルに画像が存在しない場合は表示しない %>
  <% if !(ActiveStorage::Attachment.exists?(record_id: @traning.id,record_type: "Traning"))%>
      <%# ダミー画像 %>
      <img src="/images/bg3.jpg" alt="">
  <% else %>
     <%= image_tag @traning.image %>
  <% end %>

</div>

<div>
  <%= link_to "お題追加ボタン（仮）",new_traning_path %>
</div>

<div>
  <%= link_to "お題で絵を投稿する",new_post_path(traning_id: @traning.id) %>
</div>

<!-- グリッド部分 -->
<div class="wrapper grid"> 

  <div class="items">
    <% @posts.each do |post| %> 
          <div class='item'>
            <%= link_to post_path(post.id) do %>
            <%= image_tag post.image %><br>
            <%= post.title %><br>
            <%= post.user.nickname %><br>
            <% if post.advice_flag %> 
              <span>アドバイス・指摘等お願いします</span><br>
            <% end  %>
          <% end %>
          
            <%#条件に一致した場合、そのデータはLikeテーブルに存在するのでいいねを表示する%>
            <% if user_signed_in? %>
              <% if Like.find_by(user_id: current_user.id,post_id: post.id)  %>
                  <span class="fa fa-heart like_btn_on"></span>
                  <%= Like.where(post_id: post.id).count %> 
              <% else %>
                <span class="fa fa-heart like_btn_off"></span> 
                 <%= Like.where(post_id: post.id).count %> 
              <% end %>
             <%# ログインしていない場合はいいねの総数のみを表示  %>
            <% else  %>
                  <span class="fa fa-heart like_btn_on"></span> 
                  <%= Like.where(post_id: post.id).count %> 
            <% end %>
          </div>
    <% end  %>
  </div>
