
<div class="user_contents wrapper">

  <div class="wrapper user_left">
    <div>
      <% if @user.image.attached? %>
        <%= image_tag @user.image ,class:"user_image"%>        
      <% else  %>
        <img class="user_image" src="/images/dummy.jpg" alt="">
      <% end %>
    </div>
  </div>
  
  <ul class="wrapper user_right">
      <li class="user_data user_data_name"><%= @user.nickname %>
      <span class="user_data_postcount"><%= " 投稿数 : #{@like_posts.count}件" %></span></li>
      <li class="user_data user_data_link"><span class="user_twitter_url">Twitter:</span><%= link_to @user.twitter_url , @user.twitter_url%></li>
      <li class="user_data user_data_link"><span class="user_pixiv_url">Pixiv:</span><%= link_to @user.pixiv_url , @user.pixiv_url%></li>
      <li class="user_data user_data_link"><span class="user_another_url">その他連絡先:</span><%= link_to @user.another_url , @user.another_url%></li>
      <li class="user_data user_like_count"><%= "総いいね数 : #{@likes_count}/100で卒業!" %></li>
      <li class="user_data user_profile_title">プロフィール:</li>
      <li class="user_data user_profile" ><%= simple_format(@user.profile) %></li>
      <% if user_signed_in? && @user.id == current_user.id %>
        <li class="user_data"><span class="user_update"><%= link_to "編集・削除する" , edit_user_registration_path(@user.id) %></li>        
      <% end %>
   </ul>
</div>

<h4 class ="alert alert-light">投稿イラストの一覧</h4>
<div class="wrapper grid"> 
  <div class="items">
      <% @posts.each do |post| %> 
        <%= render partial: "posts/post", locals: { post: post } %>
      <% end  %>
  </div>
  <div class="wrapper page_nate"><%= paginate @posts %></div>
</div>
