
<div>
  <h2 class="wrapper alert alert-light">マイページ</h2>
</div>

<!-- 2カラム部分 -->
<div class="user_contents wrapper">

  <div class="wrapper user_left">
    <div>
      <% if @user.image.attached? %>
          <%= image_tag @user.image ,class:"user_image"%>        
      <% else  %>
        <%# アバター画像を登録していない場合、デフォルト画像を表示 %>
        <img class="user_image" src="/images/bg2.jpg" alt="">
      <% end %>
    </div>
  </div>
  <ul class="wrapper user_right">
      <li class="user_data"><%= "ユーザー名 : #{@user.nickname}" %></li>
      <li class="user_data"><%= "プロフィール : #{@user.profile}" %></li>
      <li class="user_data"><%= "投稿数 : #{@like_posts.count}" %></li>
      <li class="user_data"><%= "TwitterURL : #{@user.twitter_url}"%></li>
      <li class="user_data"><%= "PixivURL : #{@user.pixiv_url}" %></li>
      <li class="user_data"><%= "その他連絡先 : #{@user.another_url}" %></li>
      <li class="user_data"><%= "総いいね数 : #{@likes_count}/100で卒業!" %></li><br>
      <% if user_signed_in? && @user.id == current_user.id %>
        <li class="user_data"><%= link_to "編集・削除する" , edit_user_registration_path(@user.id) %></li>        
      <% end %>

  </ul>
</div>

<h2 class ="alert alert-light">投稿イラストの一覧</h2>
<div class="wrapper grid"> 
 <div class="items">
    <% @posts.each do |post| %> 
          <div class='item'>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.image %><br>
            <%= post.title %><br>
            <%= post.user.nickname %><br>
            <% if post.advice_flag %> 
              <span>アドバイス・指摘等お願いします</span><br>
            <% end  %>
           <% end %>
          
            <%#条件に一致した場合、そのデータはLikeテーブルに存在するのでいいねを表示する%>
              <% if user_signed_in? %>
                <% if Like.find_by(user_id: current_user.id,post_id: post.id)  %>
                   <%= link_to(post_like_path(id: post.id,post_id: post.id),{method: :delete}) do %>
                    <span class="fa fa-heart like_btn_on"></span>
                    <%= Like.where(post_id: post.id).count %> 
                   <% end %>
                <% else %>
                   <%= link_to(post_likes_path(id: post.id,post_id: post.id),{method: :post}) do %>
                    <span class="fa fa-heart like_btn_off"></span> 
                     <%= Like.where(post_id: post.id).count %>
                    <% end %> 
                <% end %>
              <%# ログインしていない場合はいいねの総数のみを表示  %>
              <% else  %>
                    <span class="fa fa-heart like_btn_on"></span> 
                    <%= Like.where(post_id: post.id).count %> 
              <% end %>
        </div>
    <% end  %>
  </div>
  <div class="wrapper page_nate"><%= paginate @posts %></div>
</div>
