
<div>
  <h2 class="wrapper">マイページ</h2>
</div>

<!-- 2カラム部分 -->
<div class="news_contents wrapper">

  <div class="news_left user_left">
    <div class="user_image">
      <img src="/images/bg3.jpg" alt="">
    </div>
  </div>
  <div class="news_right wrapper user_right">
      <p><%= "ユーザー名 : #{@user.nickname}" %></p>
      <p><%= "投稿数 : #{@posts.count}" %></p>
      <p><%= "TwitterURL : #{@user.twitter_url}"%></p>
      <p><%= "PixivURL : #{@user.pixiv_url}" %></p>
      <p><%= "その他連絡先 : #{@user.another_url}" %></p>
      <p><%= "総いいね数 : #{@likes_count}/100で卒業!" %></p>
  </div>
</div>

<div class="wrapper grid"> 
 <div class="items">
    <% @posts.each do |post| %> 
          <div class='item'>
            <%= link_to post_path(post.id) do %>
            <%= image_tag post.image %><br>
            <%= post.title %><br>
            <%= post.user.nickname %><br>
            <% if post.advice_flag %> 
              <span>アドバイス・指摘等お願いします</span><br>
            <% end  %>
           <% end %>
          

            <%#条件に一致した場合、そのデータはLikeテーブルに存在するのでいいねを表示する%>
                  <span class="fa fa-heart like_btn_on"></span> 
                  <%= Like.where(post_id: post.id).count %> 
        </div>
    <% end  %>

 </div>
</div>
