<div class='item'>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.image %><br>
    <%= post.title %><br>
  <% end %>
  
  <%= link_to post.user.nickname , user_path(post.user.id), id: "user_link" %><br>
  
  <% if post.advice_flag %> 
    <span>アドバイス・指摘等お願いします</span><br>
  <% end  %>
  
  <!-- 部分的に更新 -->
  <div id="likes_buttons_<%= post.id %>">
    <%= render partial: 'likes/like', locals: { post: post} %>
  </div>
  
</div>
