<div id="menu" class="bg">
    <header>
      <div class="wrapper">
        <!-- ヘッダータイトル -->
        <div class="header_title">
           <h1><%= link_to "ホーム", root_path%></h1>
        </div>

          <% if user_signed_in? %>
             <%= link_to "こんにちは！ #{current_user.nickname}さん。","#" %>              
             <%= link_to "マイページ","#" %>
          <% end %>

          <!-- ヘッダーメニュー -->
          <nav>
            <ul class="menu_list">
              <li><%= link_to "ログイン", new_user_session_path%></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete%></li>
              <li><%= link_to "新規登録", new_user_registration_path%></li>
              <li><%= link_to "イラスト投稿", new_post_path%></li>
            </ul>
          </nav>
      </div>    
   </header>

   <div class="wrapper menu_content">
      <h2 class="main_title">仮トップページ</h2>
      <p>
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
      </p>

   </div>
</div>

<!-- グリッド部分 -->
<div class="wrapper grid"> 

  <div class="items">
    <% @posts.each do |post| %> 
          <%= link_to post_path(post.id) do %>
          <div class='item'>
            <%= image_tag post.image %><br>
            <%= post.title %><br>
            <%= post.user.nickname %><br>
            <% if post.advice_flag %> 
              <span>アドバイス・指摘等お願いします</span>
            <% end  %>
          </div>
          <% end  %>       
    <% end  %>
  </div>





  <!-- ダミー情報 -->
   <!-- 
  <div class="item">
    <a href="#"><img src="/images/image1.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/neko3.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu3.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image4.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu5.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image6.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>
  <div class="item">
    <a href="#"><img src="/images/image7.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/neko2.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/neko1.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image3.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu9.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image2.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu9.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>
  -->


</div>

<footer>
  <p>copyright~~</p>
</footer>
