  <%# CSSアニメーション実験 %>
  <%# <ul class="sakura">
    <h1>Sakura<h1>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul> %>

<div id="menu">
   <div class="wrapper menu_content">
      <h2 class="main_title">Re: illustart</h2>
      <div class="main_description" >
        <p>
        このサイトはイラストを描いていてまだ１円も稼げていない人、結果を出せない人、<br>
        昔絵を描いていたけど描くのをやめてもう一度イラストを描こうと思った人が、<br>
        </p>       
        <p>
        ココナラやSkebといったイラスト有料依頼サイトに登録するまでの練習や<br>
        自信・実績を得ることを目的としたイラスト練習・コミュニティサイトです。<br>
        </p>
        <p>
        そのため、すでにめちゃくちゃ絵が上手い人・絵で稼いでいる人は対象ではありません。<br>
        総いいね数が一定数貯まると、自動的にこのサイトからは卒業する仕組みになっています。<br>
        神絵師は即卒業することになるので、登録してもあまり意味がないと思います。
        </p>
      </div>  

      <div class="main_menu">
        <div class="card-body post_link">
            <%= link_to new_post_path do%>
                <h3 class="card-title">描いたイラストを投稿する</h3><br>
                <p class="card-text">絵は練習だけだと上手くなっているのかわかりずらいです。<br>
                  日々の練習の後にアウトプットとしてイラストを描くと、</p>
                <p class="card-text">後々自分の成長過程がわかり<br>
                  モチベーションややる気につながっていきます。</p>
            <%end%>
        </div> 

        <div class="card-body traning_link">
            <%= link_to tranings_path do%>
                <h3 class="card-title">ランダムお題練習ページへ</h3><br>
                <p class="card-text">イラストで描く内容が思いつかないなどの場合、<br>
                   こちらでランダムなお題が表示されます。<br>
                   日々のアウトプットや依頼の練習に使っていただけると幸いです。
                </p>

                <p class="card-text">※練習用のお題の追加なども可能なので、<br>
                 気が向いたら気軽に追加していただけると助かります。</p>
            <%end%>
        </div> 
      </div>

   </div>

  <h2>投稿イラストの一覧(新着順)</h2>
  <!-- グリッド部分 -->
  <div class="wrapper grid"> 
    <div class="items">
      <% @posts.each do |post| %> 
            <div class='item'>
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image %><br>
                <%= post.title %><br>
              <% end %>
              <%= link_to post.user.nickname , user_path(post.user.id) %><br>
              <% if post.advice_flag %> 
                <span>アドバイス・指摘等お願いします</span><br>
              <% end  %>
              <%#条件に一致した場合、そのデータはLikeテーブルに存在するのでいいねを表示する%>
              <% if user_signed_in? %>
                <% if Like.find_by(user_id: current_user.id,post_id: post.id)  %>
                    <span class="fa fa-heart like_btn_on"></span>
                    <%= Like.where(post_id: post.id).count %> 
                <% else %>
                  <span class="fa fa-heart like_btn_off"></span> 
                  <%= Like.where(post_id: post.id).count %> 
                <% end %>
              <%# ログインしていない場合はいいねの総数のみを表示  %>
              <% else  %>
                    <span class="fa fa-heart like_btn_on"></span> 
                    <%= Like.where(post_id: post.id).count %> 
              <% end %>
            </div>
       <% end  %>
    </div>
  </div>
</div>