<div id="menu" class="bg">
   <div class="wrapper menu_content">
      <h2 class="main_title">仮トップページ</h2>
      <p>
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
      </p>

    <div>
      <%= link_to "練習用お題ページへのリンク",tranings_path %>
    </div>
   </div>

</div>

<h2>投稿イラスト一覧の表示（新着順）</h2>
<!-- グリッド部分 -->
<div class="wrapper grid"> 

  <div class="items">
    <% @posts.each do |post| %> 
          <%= link_to post_path(post.id) do %>
          <div class='item'>
            <%= image_tag post.image %><br>
            <%= post.title %><br>
            <%= post.user.nickname %><br>
            <% if post.advice_flag %> 
              <span>アドバイス・指摘等お願いします</span><br>
            <% end  %>
          <% end %>
          
            <%#条件に一致した場合、そのデータはLikeテーブルに存在するのでいいねを表示する%>
            <% if user_signed_in? %>
              <% if Like.find_by(user_id: current_user.id,post_id: post.id)  %>
                  <span class="fa fa-heart like_btn_on"></span>
                  <%= Like.where(post_id: post.id).count %> 
              <% else %>
                <span class="fa fa-heart like_btn_off"></span> 
                 <%= Like.where(post_id: post.id).count %> 
              <% end %>
             <%# ログインしていない場合はいいねの総数のみを表示  %>
            <% else  %>
                  <span class="fa fa-heart like_btn_on"></span> 
                  <%= Like.where(post_id: post.id).count %> 
            <% end %>
          </div>
    <% end  %>
  </div>





  <!-- ダミー情報 -->
   <!-- 
  <div class="item">
    <a href="#"><img src="/images/image1.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/neko3.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu3.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image4.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu5.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image6.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>
  <div class="item">
    <a href="#"><img src="/images/image7.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/neko2.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/neko1.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image3.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu9.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image2.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu9.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>
  -->


</div>
