
<div>
  <h2 class="alert alert alert-light">新規投稿画面</h2>
</div>

<!-- 2カラム部分 -->
<div class="wrapper">※ファイル選択時、ここにプレビューが表示されます。</div>
<div class="news_contents wrapper">
  <div class="news_left">
    <div id="image_preview">
      <!-- 仮イメージ 本来はプレビューを表示しないといけない -->
      <%# <a href="#"><img src="/images/bg3.jpg" alt=""></a> %>
    </div>
  </div>

  <div class="news_right wrapper">

   <%= form_with model: @post, local: true do |f|%>

    <%# エラーメッセージの表示 %>
    <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <%= f.label :title, "タイトル(必須)" %><br />
        <%= f.text_field :title, id:"post_title" %>
      </div>

      <div class="field">
        <%= f.label :description, "イラストの説明・補足(任意)" %><br />
        <%= f.text_area :description,  id:"post_description" %>
      </div>

      <div class="field">
          <%= f.label :advice_flag, "コメントによる他のユーザーからのアドバイスの有無" %><br />
          <div class="radio_area">
            <%= f.radio_button :advice_flag, :true , checked: true %>
            <%= f.label :advice_flag, "アドバイスや指摘が欲しい" %><br />
            <%= f.radio_button :advice_flag, :false   %>
            <%= f.label :advice_flag, "アドバイスや指摘はいらない" %><br />
           <span class="check_point">※絵にはそれぞれの描き方があるため、<br />その人のアドバイスが本当に有効かはわかりません。</span>
          </div>

      </div>

      <div class="field">
          <%= f.label :traning_flag, "イラスト練習お題に関する投稿" %><br />
           <div class="radio_area">
            <%= f.radio_button :traning_flag, :true , checked: true %>
            <%= f.label :traning_flag, "通常のイラスト" %><br />
            <%= f.radio_button :traning_flag, :false %>
            <%= f.label :traning_flag, "お題用イラスト" %><br />
          </div>
      </div>

      <div class="field">
        <%= f.label :imaga, "投稿するイラストの画像(必須)" %><br />
        <%= f.file_field :image, id:"post_image" %>
      </div>

      <div class="actions">
        <%= f.submit "投稿する", class: "btn btn-outline-primary"  %>
      </div>

      <%= f.hidden_field :traning_id, :value => @traning_id %>
   <% end %>

  </div>

</div>