<div class="show_contents wrapper">
  <div class="show_left">
    <div class="show_image">
      <%= image_tag @post.image %>
    </div>
  </div>

  <div class="show_right wrapper">
    <div class="show_data">
      <span>ユーザー名</span>
      <div  class="show__userdata user_link">
        <%= link_to @post.user.nickname , user_path(@post.user_id)%>
      </div>
    </div>

    <div class="show_data">
      <span>イラストタイトル</span>
      <div class="show__userdata">
        <%= @post.title %>
      </div>
    </div>

    <div class="show_data">
      <span>イラストの内容・補足</span>
      <div  class="show__userdata">
        <%= simple_format(@post.description) %>
      </div>
    </div>

    <div class="show_data">
      <span>アドバイスの有無</span>
      <div  class="show__userdata">
        <% if @post.advice_flag %>
          アドバイス・指摘等お願いします
        <% else %>
          アドバイス・指摘等は不要です
        <% end %>
      </div>
    </div>

    <div class="show_data">
      <span>通常 or ランダムお題練習イラスト</span>
      <div  class="show__userdata">
        <% if @post.traning_flag %>
          通常のイラストです。
        <% else %>
          <span>ランダムお題練習用のイラストです。</span><br><br>
          <%= "お題練習テーマ： #{@post.traning.theme_text}" %>
        <% end %>
      </div>
    </div>

    <div class="sns_menu">
        <!-- 部分的に更新 -->
        <div id="likes_buttons_<%= @post.id %>" class="like-div">
          <%= render partial: 'likes/like', locals: { post: @post} %>
        </div>
        <!-- ここまで -->

        <div class="twiiter_div">
          <%= link_to("https://twitter.com/share?url=#{request.url}",title: 'Twitter', target: '_blank' ) do  %>  
            <span class="fab fa-twitter twitter_btn"></span>
          <% end  %>
        </div>
    </div>

    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="show__manage_box">
      <span class="show__manage">
        <%= link_to "編集する", edit_post_path(@post.id) %>
      </span>
      <span class="show__manage">
        <%= link_to "削除する", post_path(@post.id), method: :delete%>
      </span>
      </div>
    <% end %>
 
   </div>
  </div>

 <h4 class= "alert alert alert-light">コメント欄</h4>

 <div class="wrapper comments">
   <% if user_signed_in? %>
    <div class="comment_input">
      <%= form_with model:[@post,@comment],local: true do |f|%>

        <%= render 'shared/error_messages', model: f.object%>

        <div class="field">
          <%= f.label :good_point, "良い点" %><span class="badge require">必須</span><br />
          <%= f.text_area :good_point, id:"good_point" %>
        </div>

        <div class="field">
          <%= f.label :text, "コメント" %><span class="badge require">必須</span><br />
          <%= f.text_area :text, id:"comment_text" %>
        </div>

        <% if @post.advice_flag %>
          <div class="field">
            <%= f.label :advice, "気になる点やアドバイス" %><br />
            <%= f.text_area :advice, id:"advice" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "送信する", class:"btn btn-outline-primary comment_btn"  %>
        </div>
      <% end %>
    </div> 
   <% end %>

  <h4 class= "alert alert alert-light">コメント一覧</h4>
  <div class="wrapper">
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <div class="comments_username user_link"><%= link_to comment.user.nickname, user_path(comment.user_id) %></div> 
            <div class="comment_box">
              <div class="comment_label">良い点</div>
              <div><%= simple_format(comment.good_point) %></div>
            </div>
            
            <div class="comment_box">
              <div class="comment_label">コメント</div>
              <div><%= simple_format(comment.text) %></div>
            </div>

            <% if comment.post.advice_flag == true %>
              <div class="comment_box">
                <div class="comment_label">アドバイスや気になる点</div>
                <div><%= simple_format(comment.advice) %></div>
              </div>
            <% end %>
        </li>
      <% end  %>
    </ul>
    <div class="wrapper page_nate"><%= paginate @comments %></div>
  </div>
</div>



