
<div>
  <h2 class="wrapper"> 詳細表示画面</h2>
</div>

<!-- 2カラム部分 -->
<div class="news_contents wrapper">

  <div class="news_left">
 
    <div class="show_image">
      <%= image_tag @post.image %>
    </div>
  </div>
  
  <div class="news_right wrapper">

       <div>
          <span>ユーザー名</span>
          <p  class="show__username">
            <%= @post.user.nickname %>
          </p>
       </div>

         <div>
          <span>イラストタイトル</span>
          <p class="show__title">
            <%= @post.title %>
          </p>
        </div>

        <div>
          <span>イラストの内容・補足</span>
          <p  class="show__description">
            <%= @post.description %>
          </p>
       </div>

        <div>
          <span>アドバイスの有無</span>
          <p  class="show__advice">
            <% if @post.advice_flag %>
              アドバイス・指摘等お願いします
            <% else %>
              アドバイス・指摘等は不要です
            <% end %>
          </p>
       </div>

      <%# if user_signed_in? && current_user.id == @post.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path(@post.id) %>
          <%= link_to "削除する", "#", method: :delete%>
        </div>
      <%# end %>

      <%#条件に一致した場合、そのデータはLikeテーブルに存在するのでいいねを表示する%>
      <% if Like.find_by(user_id: current_user.id,post_id: @post.id)  %>
        <%= link_to(post_like_path(@post.id),{method: :delete}) do  %>  
           <span class="fa fa-heart like_btn_on"></span>
           <%= @like_count %> 
        <% end  %>
      <% else %>
        <%= link_to(post_likes_path(@post.id),{method: :post}) do %>
           <span class="fa fa-heart like_btn_off"></span>
           <%= @like_count %> 
        <% end %>

      <% end  %>

  </div>

</div>



