<!DOCTYPE html>
<html>
  <head>
    <title>IllustRestart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>

  <div class="bg">
      <header>
        <div class="wrapper">
          <!-- ヘッダータイトル -->
          <div class="header_title">
            <h1><%= link_to "ホーム", root_path%></h1>
          </div>

            <% if user_signed_in? %>
              <%= link_to "こんにちは！ #{current_user.nickname}さん。","#" %>
              <%= link_to "マイページ","#" %>

            <% end %>

            <!-- ヘッダーメニュー -->
            <nav>
              <ul class="menu_list">
                <%= link_to "ログイン", new_user_session_path%>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
                <%= link_to "新規登録", new_user_registration_path%>
                <%= link_to "イラスト投稿", new_post_path%>
              </ul>
            </nav>
        </div>    
    </header>
    </div>
  </div>



    <%= yield %>

    <footer>
      <p>copyright~~</p>
    </footer> 
  </body>
</html>
